<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager Home</title>
    <link rel="stylesheet" href="/home/home.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to this awesome Task Manager!</h1>

        <% if (!user) { %>
            <p>To use the features please login</p>
            <button class="btn-tasks" onclick="window.location.href='/login'">Login</button>
            <button class="btn-tasks" onclick="window.location.href='/CreateUser'">Sign up</button>
        <% } else { %>
            <div class="task-section">
                <p>Manage your tasks efficiently with our Task Manager. Customize it further with your content.</p>              
        <% } %>

        <div class="features-section">
            <h2>Key Features</h2>
            <div class="features">                
                <div class="feature">
                    <img src="/svg/DeadLine.svg" alt="Set Deadlines">
                    <p>Set deadlines and reminders</p>
                </div>
                <div class="feature">
                    <img src="/svg/Collab.svg" alt="Collaborate">
                    <p>Collaborate with your team</p>
                </div>
                <div class="feature">
                    <img src="/svg/Progress.svg" alt="Track Progress">
                    <p>Track your progress</p>
                </div>
            </div>
        </div>

        <% if (user) { %> <!-- Show this button only if user is logged in -->
            <button class="btn-tasks" onclick="window.location.href='/task'">Go to Tasks</button>
        <% } %>
    </div>
    <script src="/home/home.js"></script>
</body>
</html>
