<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login/Login.css">
</head>
<body>

    <div class="login-container">
        <div class="login-card">
            <h2>Login</h2>
            <!-- Removed the form's action and method as we handle this via JS -->
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="Username" name="username" placeholder="Enter your username" required value="Admin">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="Password" name="password" placeholder="Enter your password" required value="1234">
            </div>
            <button id="loginButton">Login</button>
            <div><a href="/createUser">Go to create account</a></div>
        </div>
    </div>

    <script src="/login/Login.js"></script>
</body>
</html>
