.custom-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    background: rgba(0, 0, 0, 0.2);
    display: none;      /* Initially hide scrollbar */
    height: 100%;       /* Fill the full height of the container */
}

.custom-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.custom-scrollbar-thumb:hover {
    background: #555;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: none;
}